h5 span {
  margin: 5px;
  color: black;
}
h1 {
  color: #123123;
}
.push-left {
  padding-right: 50px;
}
inline {
  display: inline;
}
body {
  height: 100%;
}
.jumbotron {
  background: #adadad;
  background: -moz-linear-gradient(left, #adadad 0%, #b3b3b3 93%, #b3b3b3 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #adadad), color-stop(93%, #b3b3b3), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(left, #adadad 0%, #b3b3b3 93%, #b3b3b3 100%);
  background: -o-linear-gradient(left, #adadad 0%, #b3b3b3 93%, #b3b3b3 100%);
  background: -ms-linear-gradient(left, #adadad 0%, #b3b3b3 93%, #b3b3b3 100%);
  background: linear-gradient(to right, #adadad 0%, #b3b3b3 93%, #b3b3b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#b3b3b3', GradientType=1);
}
.images {
  float: right;
}
#app {
  height: 100vh;
}
footer {
  bottom: 0;
}
